<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="/flights/TXL-AMS" method="get">

    {{!-- ends up in query parameters --}}
    <input type="date" name="startDate" id="">
    <input type="date" name="endDate" id="">

    <button type="submit">SEARCH !</button>

  </form>

</body>

</html>